<div class="jumbotron text-center">
    <div class="display-3">Goal Achiever</div>
    <p class="lead">Please add your goals here</p>
   <a href="/ideas/add"><button class="btn btn-dark btn-lg">Add goals</button></a> 
</div>