<div class="jumbotron text-center container">
    <div class="display-3">VIdjoit</div>
    <p class="lead">Please add your videos ideas here</p>
   <a href="/add/video"><button class="btn btn-dark">Add videos</button></a> 
</div>