
<div class="card card-body">
    <h3>Add Ideas</h3>
    <form action="/ideas" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" required value={{title}}>
        </div>
        <div class="form-group">
            <label for="desc">Description</label>
            <textarea class="form-control" name="details" id="" cols="15" rows="5" required>{{details}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>